/*GENERAL STYLES*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size:62.5%;

}
body{
    overflow-x: hidden;
    font-size:1.6rem;
   background-color: #f0ead2;
   font-family: 'Noto Sans', sans-serif;
}

/*NAVIGATION BAR========================================*/
/*========================NAVIGATION STYLES===========================*/
.fa-gem{
    color:#e6b8a2;
}
nav{
    display:flex;
    justify-content: space-around;
    width:100%;
    z-index: 2;
    align-items: center;
    background-color: #fafafa;
    position:absolute;
    padding:1% 0;
}
.nav-links{
    display: flex;
    width:60%;
    justify-content: space-around;
    z-index:8;
    
}
.nav-links li{
    list-style: none;
}
.nav-links li a{
    text-decoration: none;
    color:black;
}
.nav-links li a:hover{
    color:#cd9777;
}
.brand_name h4{
     width:200px;
     letter-spacing: 2px;
     margin-left:5%;
}
.burger{
    display:none;
    margin-right:3%;
}
.burger div{
    width:25px;
    height:2px;
    background-color: #582f0e;
    margin:3px;
}
.cart-link{
    position:relative;
    cursor:pointer;
}
.cart-item-number{
    font-weight:bold;
    position:relative;
    bottom:5px;
    font-size:1.1rem;
    color:#cd9777;
    font-weight:700;
}
/*================================MAIN====================================*/
h1{
    padding-top:6%;
    text-align: center;
    padding-bottom:5%;
    font-size:6.0rem;
  
}
.About-container{
    display:flex;
    padding:2% 5%;
}
.About-container div{
    flex:2
}
.About-container p{
    line-height:1.5;
    padding-right:5%;
}
.About-container img{
    width:400px;
    margin-right:2%;
    border-radius: 10px;
}
.img-1{
    align-self: flex-start;
    min-height:100px;
}
.img-2{
    align-self:center;
    min-height:100px;
}
.img-1:hover{
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}
.img-2:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

/*============================CONTACT SECTION===========================================*/
#contact{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    padding:3% 0;
    border:1px solid #cd9777;
    border-left:none;
    border-right:none;
}
#contact div{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
#contact h3{
    font-weight:bold;
    font-size:2.4rem;
    letter-spacing: 3px;
}
.socials{
    width:100%;
}
.socials p {
    width:70%;
    font-weight:600;
}
#contact a{
    margin-left:5%;
}
.payment-type{
    color:#cd9777;
    font-family: 'Russo One', sans-serif;
}
.fa-brands{
    color:#cd9777;
}

/*=======================================FOOTER===================================================*/
#footer{
    padding:6% 3%;
}

.footer-sections{
    display:grid;
    grid-template-columns: repeat(5,1fr);
}
.footer-sections h3{
    font-weight: bold;
    letter-spacing: 2px;
}
.terms{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top:4%;
}
.terms p {
    color:#beb4ae;
}
#phone-number{
    font-size:2.8rem;
    font-weight:600;
}
.times-available{
    font-size:2.1rem;
    font-weight:500;
}
#copy{
    margin-top:4%;
}
.fa-copyright{
    color:#cd9777;
}

/*=========carrt*===================*/
.total-cart{
    width:100%;
    position:absolute;
    top:40px;
    /*transform:translateX(1370px);*/
    transition:transform 0.5s ease-in;
    background-color: #582f0e;
    color:white;
    padding:2% 4%;
    height:100%;
    z-index:6;
    display:none;
    animation: fadeout .6s;
}

#checkout-btn{
    text-decoration: none;
    padding:1% 1%;
    background-color: #cd9777;
    border-radius: 10px;
    color:white;
}

/*==========================MEDIA QUERIES====================*/
@media only screen and (max-width: 480px) and (min-width: 320px){
    main{
        overflow-x: hidden;
        transition:transform 0.5s ease-in;
    }
    nav{
       width:100%;
        justify-content: space-between;
        z-index: 1;
    }
    .nav-links{
        position:absolute;
        right:0;
        top:200%;
        flex-direction: column;
        align-items: center;
        width:100%;
        height:50vh;
        transform:translateY(-130%);
        transition:transform 0.5s ease-in;
        z-index: 5;
    }
    .burger{
        position:relative;
        z-index:9;
        display:unset;
    }
    .burger:hover{
        cursor:pointer;
    }
    h1{
        padding-top:10%;
        font-size:3.0rem;
    }
    .About-container{
        flex-direction:column-reverse;
        padding-bottom:5%;
    }
    .About-container img{
        margin-bottom:3%;
        width:290px;
    }
    .About-container div{
        font-size:1.3rem;
        line-height: 2;
    }
    #contact{
        grid-template-columns: 1fr;
        padding:10% 0; 
    }
    #contact div{
        display:flex;
        justify-content: space-around;
        align-items: center;
        margin-top:7%;
    }    
    #contact h3{
       display:none;
    }
    .footer-sections{
        display:grid;
        grid-template-columns:1fr;
    }
}

/*========================IPAD SIZES==========================================*/
@media only screen and (max-width: 768px) and (min-width: 481px){
    main{
        overflow-x: hidden;
        transition:transform 0.5s ease-in;
    }
    nav{
       width:100%;
        justify-content: space-between;
        z-index: 1;
    }
    .nav-links{
        position:absolute;
        right:0;
        top:200%;
        flex-direction: column;
        align-items: center;
        width:100%;
        height:50vh;
        transform:translateY(-130%);
        transition:transform 0.5s ease-in;
        z-index: 5;
    }
    .burger{
        position:relative;
        z-index:9;
        display:unset;
    }
    .burger:hover{
        cursor:pointer;
    }
    h1{
        padding-top:10%;
        font-size:4.0rem;
    }
    .About-container{
        flex-direction:column-reverse;
        padding-bottom:5%;
    }
    .About-container img{
        margin-bottom:3%;
        width:80%;
    }
    .About-container div{
        font-size:1.5rem;
        line-height: 2;
    }
    #contact{
        grid-template-columns: 1fr ;
        padding:2% 0; 
    }
    #contact div{
        display:flex;
        justify-content: space-around;
        align-items: center;
        margin-top:7%;
    }    
    #contact h3{
       display:none;
    }
    .footer-sections{
        display:grid;
        grid-template-columns:1fr 1fr;
    }
}

/*=============================LARGER SCREEN SIZES=========================*/
@media only screen and (max-width: 1024px) and (min-width: 769px){
    main{
        overflow-x: hidden;
        transition:transform 0.5s ease-in;
    }
    nav{
       width:100%;
        justify-content: space-between;
        z-index: 1;
    }
    .nav-links{
        position:absolute;
        right:0;
        top:200%;
        flex-direction: column;
        align-items: center;
        width:100%;
        height:50vh;
        transform:translateY(-130%);
        transition:transform 0.5s ease-in;
        z-index: 5;
    }
    .burger{
        position:relative;
        z-index:9;
        display:unset;
    }
    .burger:hover{
        cursor:pointer;
    }
    h1{
        padding-top:10%;
        font-size:4.0rem;
    }
    .About-container{
        flex-direction:column-reverse;
        padding-bottom:5%;
    }
    .About-container img{
        margin-bottom:3%;
        width:80%;
    }
    .About-container div{
        font-size:1.6rem;
        line-height: 2;
    }
    #contact{
        grid-template-columns: 1fr 1fr 1fr;
        padding:2% 0; 
    }
    #contact div{
        display:flex;
        justify-content: space-around;
        align-items: center;
        margin-top:7%;
    }    
    #contact h3{
       display:none;
    }
    .footer-sections div{
        margin-bottom: 10%;
    }
    .footer-sections{
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
    }
}
.come{
    transform : translateY(0%);
    transition:transform 0.5s ease-in;
}
.drop{
    max-height:170px;
    padding-bottom:10%;
}
.image{
    transform : translateY(25%);
    transition:transform 0.5s ease-in;
}
.Gtotal{
    margin-top:3%;
    font-weight:bold;
    margin-bottom:2%;
}

.show-cart{
    display:block;
    animation: fadeIn .6s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
.burger-turn{
    transform: rotateY(180deg);
}

