/*GENERAL STYLES*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size:62.5%;

}
body{
    overflow-x: hidden;
    font-size:1.6rem;
   background-color: #f0ead2;
   font-family: 'Noto Sans', sans-serif;
}

/*NAVIGATION BAR========================================*/
/*========================NAVIGATION STYLES===========================*/
.fa-gem{
    color:#e6b8a2;
}
nav{
    display:flex;
    justify-content: space-around;
    width:100%;
    z-index: 2;
    align-items: center;
    background-color: #fafafa;
    position:absolute;
    padding:5% 0;
}
.nav-links{
    display: flex;
    width:60%;
    justify-content: space-around;
    z-index:8;
    
}
.nav-links li{
    list-style: none;
}
.nav-links li a{
    text-decoration: none;
    color:black;
}
.nav-links li a:hover{
    color:#cd9777;
}
.brand_name h4{
     width:200px;
     letter-spacing: 2px;
     margin-left:5%;
}
.burger{
    display:none;
    margin-right:3%;
}
.burger div{
    width:25px;
    height:2px;
    background-color:#582f0e;
    margin:3px;
}

/*==========================BILLING DETAILS--------------------------*/
h1{
    padding-top:5%;
    text-align: center;
    padding-bottom:5%;
    margin-top:5%;
}
#billing-details{
    padding-left:10%;
    padding-bottom:5%;
    display:flex;
    justify-content: center;
}
.form-1{
    width:50%;
}
.form-2{
    width:50%;
}
.general-input{
    border-top:none;
    border-right:none;
    border-left:none;
    outline:none;
    width:50%;
    border-color:#cd9777;
    background-color:#f0ead2;
    margin-bottom:3%;
    padding:2% 0;
    font-size:1.5rem;
    font-family: 'Noto Sans', sans-serif;
}
.bank-deets{
    border-top:none;
    border-right:none;
    border-left:none;
    outline:none;
    width:100%;
    border-color:black;
    background-color:white;
    margin-bottom:3%;
    padding:3% 2%;
    font-size:2.0rem;
    border-width:1px;
    margin-left:5%;
    font-size:1.3rem;
}
label{
    font-weight:bold;
}

select{
    margin-bottom:5%;
    padding:2% 4%;
    width:50%;
    border:none;
    outline:none;
    color:#beb4ae;
    font-family: 'Noto Sans', sans-serif;
}
option{
   color:#101010;
}
#place-order{
    padding:1em 2em;
    background-color: #8a5a44;
    color:white;
    border-radius:10px;
    border:none;
    cursor:pointer;
}
#place-order:hover{
    background-color: #e6b8a2;
}

/*===================MODAL CONTAINER==================*/
.modal-container{
    top:0;
    width:100%;
    position:fixed;
    height:300%;
    background-color: rgba(0,0,0,0.6);
    display:none;
}
.modal-content{
    padding-top:5%;
    padding-right:5%;
    background-color: white;
    width:50%;
    margin:5% auto;
    position:relative;
    padding-bottom:2%;
    border-radius: 29px;;
}
.modal-label{
    margin-left:5%;
}
#payment-btn{
    padding:1em 2em;
    background-color: #8a5a44;
    color:white;
    border-radius:10px;
    border:none;
    cursor:pointer;
    margin-left:5%;
    text-decoration:none;
}
#x{
    position:absolute;
    right:20px;
    top:5px;
    padding:1% 2%;
    background-color: red;
    border-radius: 50%;;
}
.errors{
    color:green;
    font-size:1.2rem;
}
#mastercard{
    width:50px;
    margin-left:80%;
  position:relative;
  top:30px;
}
#visacard{
    width:40px;
    margin-left:100%;
}
.modal-error{
    position:absolute;
    right:50px;
    font-size:1.2rem;
}
#card-error{
    position:absolute;
    top:160px;
}
#cvv-error{
    position:absolute;
    top:250px;
}
#expiry-error{
    position:absolute;
    top:350px;
}
#pin-error{
    position:absolute;
    top:360px;
}
.modal-error-style{
    color:green;
}
#checkbox{
    margin-left:5%;
}
.check{
    margin-left:1%;
    font-size:1.4rem;
    width:100%;
    padding-bottom:15%;
}
/*=========================MODAL TO SEND TRACKING NUMBER================================*/
.new-modal-container{
    top:0;
    width:100%;
    position:fixed;
    height:300%;
    background-color: rgba(0,0,0,0.6);
    display:none;
}
.new-modal-content{
    padding-top:5%;
    padding-right:5%;
    background-color: white;
    width:50%;
    margin:15% auto;
    position:relative;
    padding-bottom:2%;
    border-radius: 29px;;
}
/*============================CONTACT SECTION===========================================*/
#contact{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    padding:3% 0;
    border:1px solid #cd9777;
    border-left:none;
    border-right:none;
}
#contact div{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
#contact h3{
    font-weight:bold;
    font-size:2.4rem;
    letter-spacing: 3px;
}
.socials{
    width:100%;
}
.socials p {
    width:70%;
    font-weight:600;
}
#contact a{
    margin-left:5%;
}
.payment-type{
    color:#cd9777;
    font-family: 'Russo One', sans-serif;
}
.fa-brands{
    color:#cd9777;
}

/*=======================================FOOTER===================================================*/
#footer{
    padding:6% 3%;
}

.footer-sections{
    display:grid;
    grid-template-columns: repeat(5,1fr);
}
.footer-sections h3{
    font-weight: bold;
    letter-spacing: 2px;
}
.terms{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top:4%;
}
.terms p {
    color:#beb4ae;
}
#phone-number{
    font-size:2.8rem;
    font-weight:600;
}
.times-available{
    font-size:2.1rem;
    font-weight:500;
}
#copy{
    margin-top:4%;
}
.fa-copyright{
    color:#cd9777;
}

/*==========================MEDIA QUERIES====================*/
@media only screen and (max-width: 480px) and (min-width: 320px){
    main{
        overflow-x: hidden;
        transition:transform 0.5s ease-in;
    }
    nav{
       width:100%;
        justify-content: space-between;
        z-index: 1;
        
    }
    .nav-links{
        position:absolute;
        right:0;
        top:200%;
        flex-direction: column;
        align-items: center;
        width:100%;
        height:50vh;
        transform:translateY(-130%);
        transition:transform 0.5s ease-in;
        z-index: 5;
    }
    .burger{
        position:relative;
        z-index:9;
        display:unset;
    }
    .burger:hover{
        cursor:pointer;
    }
    h1{
        padding-top:14%;
        font-size:3.0rem;
    }
    #checkbox{
        margin-left:5%;
    }
    .check{
        margin-left:1%;
        font-size:1.4rem;
        width:100%;
        padding-bottom:15%;
    }
    #billing-details{
        padding-top:10%;
        font-size:1.3rem;
        font-family: 'Noto Sans', sans-serif;
    }
    #place-order{
        margin-top:5%;
        padding:0.5em 1em;
       font-size:1.2rem;
    }
    .modal-content{
        padding-top:5%;
        padding-right:5%;
        background-color: white;
        width:80%;
        margin:45% auto;
        position:relative;
        padding-bottom:2%;
        border-radius: 29px;;
    }
    .modal-label{
        margin-left:5%;
    }
    #payment-btn{
        padding:0.5em 1em;
        font-size:1.2rem;
    }
    #x{
        position:absolute;
        right:20px;
        top:5px;
        padding:1% 2%;
        background-color: red;
        border-radius: 50%;;
    }
    .errors{
        color:green;
        font-size:1.2rem;
    }
    #mastercard{
        width:25px;
        margin-left:80%;
        position:relative;
        top:25px;
    }
    #visacard{
        width:25px;
        margin-left:90%;
    }
    .modal-error{
        position:absolute;
        right:50px;
        font-size:1.2rem;
    }
    #card-error{
        position:absolute;
        top:90px;
    }
    #cvv-error{
        position:absolute;
        top:160px;
    }
    #expiry-error{
        position:absolute;
        top:230px;
    }
    .modal-error-style{
        color:green;
    }
    #contact{
        grid-template-columns: 1fr;
        padding:10% 0; 
    }
    #contact div{
        display:flex;
        justify-content: space-around;
        align-items: center;
        margin-top:7%;
    }    
    #contact h3{
       display:none;
    }
    .footer-sections{
        display:grid;
        grid-template-columns:1fr;
    }
    .footer-sections div{
        margin-bottom:10%;
    }
    .foot p{
        line-height:2;
    }
}

/*========================IPAD SIZES==========================================*/
@media only screen and (max-width: 768px) and (min-width: 481px){
    main{
        overflow-x: hidden;
        transition:transform 0.5s ease-in;
    }
    nav{
       width:100%;
        justify-content: space-between;
        z-index: 1;
      
    }
    .nav-links{
        position:absolute;
        right:0;
        top:200%;
        flex-direction: column;
        align-items: center;
        width:100%;
        height:50vh;
        transform:translateY(-130%);
        transition:transform 0.5s ease-in;
        z-index: 5;
    }
    .burger{
        position:relative;
        z-index:9;
        display:unset;
    }
    .burger:hover{
        cursor:pointer;
    }
    h1{
        padding-top:14%;
        font-size:3.0rem;
    }
    #checkbox{
        margin-left:5%;
    }
    .check{
        margin-left:1%;
        font-size:1.4rem;
        width:100%;
        padding-bottom:15%;
    }
    #billing-details{
        padding-top:10%;
        font-size:1.4rem;
        font-family: 'Noto Sans', sans-serif;
    }
    #place-order{
        margin-top:5%;
        padding:0.5em 1.5em;
       font-size:1.2rem;
    }
    .modal-content{
        padding-top:5%;
        padding-right:5%;
        background-color: white;
        width:80%;
        margin:45% auto;
        position:relative;
        padding-bottom:2%;
        border-radius: 29px;;
    }
    .modal-label{
        margin-left:5%;
    }
    #payment-btn{
        padding:0.5em 1em;
        font-size:1.2rem;
    }
    #x{
        position:absolute;
        right:20px;
        top:5px;
        padding:1% 2%;
        background-color: red;
        border-radius: 50%;;
    }
    .errors{
        color:green;
        font-size:1.2rem;
    }
    #mastercard{
        width:25px;
        margin-left:80%;
        position:relative;
        top:25px;
    }
    #visacard{
        width:25px;
        margin-left:90%;
    }
    .modal-error{
        position:absolute;
        right:50px;
        font-size:1.2rem;
    }
    #card-error{
        position:absolute;
        top:130px;
    }
    #cvv-error{
        position:absolute;
        top:210px;
    }
    #expiry-error{
        position:absolute;
        top:300px;
    }
    .modal-error-style{
        color:green;
    }
    #contact{
        grid-template-columns: 1fr;
        padding:2% 0; 
    }
    #contact div{
        display:flex;
        justify-content: space-around;
        align-items: center;
        margin-top:7%;
    }    
    #contact h3{
       display:none;
    }
    .footer-sections{
        display:grid;
        grid-template-columns:1fr;
    }
    .footer-sections div{
        margin-bottom:10%;
    }
    .foot p{
        line-height:2;
    }
}
/*=============================LARGER SCREEN SIZES=========================*/
@media only screen and (max-width: 1024px) and (min-width: 769px){
    main{
        overflow-x: hidden;
        transition:transform 0.5s ease-in;
    }
    nav{
       width:100%;
        justify-content: space-between;
        z-index: 1;
  
    }
    .nav-links{
        position:absolute;
        right:0;
        top:200%;
        flex-direction: column;
        align-items: center;
        width:100%;
        height:50vh;
        transform:translateY(-130%);
        transition:transform 0.5s ease-in;
        z-index: 5;
    }
    .burger{
        position:relative;
        z-index:9;
        display:unset;
    }
    .burger:hover{
        cursor:pointer;
    }
    h1{
        padding-top:14%;
        font-size:3.0rem;
    }
    #checkbox{
        margin-left:5%;
    }
    .check{
        margin-left:1%;
        font-size:1.4rem;
        width:100%;
        padding-bottom:15%;
    }
    #billing-details{
        padding-top:10%;
        font-size:1.5rem;
        font-family: 'Noto Sans', sans-serif;
    }
    #place-order{
        margin-top:5%;
        padding:0.5em 1.5em;
       font-size:1.2rem;
    }
    .modal-content{
        padding-top:5%;
        padding-right:5%;
        background-color: white;
        width:80%;
        margin:3% auto;
        position:relative;
        padding-bottom:2%;
        border-radius: 29px;;
    }
    .modal-label{
        margin-left:5%;
    }
    #payment-btn{
        padding:0.5em 1em;
        font-size:1.2rem;
    }
    #x{
        position:absolute;
        right:20px;
        top:5px;
        padding:1% 2%;
        background-color: red;
        border-radius: 50%;;
    }
    .errors{
        color:green;
        font-size:1.2rem;
    }
    #mastercard{
        width:25px;
        margin-left:80%;
        position:relative;
        top:25px;
    }
    #visacard{
        width:25px;
        margin-left:90%;
    }
    .modal-error{
        position:absolute;
        right:50px;
        font-size:1.2rem;
    }
    #card-error{
        position:absolute;
        top:130px;
    }
    #cvv-error{
        position:absolute;
        top:210px;
    }
    #expiry-error{
        position:absolute;
        top:300px;
    }
    .modal-error-style{
        color:green;
    }
    #contact{
        grid-template-columns: 1fr;
        padding:2% 0; 
    }
    #contact div{
        display:flex;
        justify-content: space-around;
        align-items: center;
        margin-top:7%;
    }    
    #contact h3{
       display:none;
    }
    .footer-sections{
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
    }
    .footer-sections div{
        margin-bottom:10%;
    }
    .foot p{
        line-height:2;
    }
}

.come{
    transform : translateY(0%);
    transition:transform 0.5s ease-in;
}
.image{
    transform : translateY(80%);
    transition:transform 0.5s ease-in;
}